.logout-btn {
    font-weight: 700;
}

.Button-logout {
    background-color: white;
    color: #415d9b;
    border: solid 3px;
    border-radius: 10px;
    border-color: #415d9b;
    margin: 5px 10px;
}

.Button-logout:hover {
    background-color: #415d9b;
    color: white;
    border-color: white;

}