

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    color: black;
    background-color: #fff;
    border-color: rgb(235, 232, 232);
    font-size: 1em;
}

.nav-tabs .nav-link{
    border-top: none;
    border-right: none;
    border-radius: 0;
    border-left:none ;
    border-bottom: 1.5px solid  rgb(235, 232, 232);
    padding-top: 0px ;
}
.nav-tabs{
    border-bottom:2px solid rgb(235, 232, 232) ;
    margin-bottom: 30px;
    padding-top: 10px;
}
.nav-tabs .nav-link.active{
    color: #334878 ;
    border-bottom: 0.2rem solid #334878;
}

.nav-tabs .nav-link:hover{
    color:#334878;
}
@media all and (max-width: 340px){
.nav-tabs .nav-link{
    width: 33.33% ;
}
}
@media all and (max-width: 650px){
    .nav-tabs .nav-link{
       font-size: 90% ;
    } 
}
@media all and (max-width: 450px){
    .nav-tabs .nav-link{
       font-size: 80% ;
    } 
}

@media all and (max-width: 290px){
    .nav-tabs .nav-link{
       font-size: 70% ;
    } 
}



.Dashboard h1{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    padding-left: 1rem;
    font-family: 'Open Sans', sans-serif!important;
}
.Listing{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    border: 2px solid rgb(235, 232, 232);
    border-radius: 0.6rem;
    padding-bottom: 20px;
}
.tab-pane h3{
    margin-left: 2rem;
    margin-top: 1rem;
    font-family: 'Open Sans', sans-serif!important;
}
.tab-pane h4{
   margin-left: 3rem;
   margin-top: 0.7rem;
}
@media all and (max-width: 800px) {
    .tab-pane h4{
        margin-left: 2rem;
        margin-top: 0.7rem;
        font-size: 130%;
     }
     .tab-pane h3{
        margin-left: 1.5rem;
        margin-top: 1rem;
        font-family: 'Open Sans', sans-serif!important;
        font-size: 130%;
    }
}
@media all and (max-width: 600px) {
    .tab-pane h4{
        margin-left: 2rem;
        margin-top: 0.7rem;
        font-size: 120%;
     }
     .tab-pane h3{
        margin-left: 1.5rem;
        margin-top: 1rem;
        font-family: 'Open Sans', sans-serif!important;
        font-size: 120%;
    }
}